@import "reset";
@import "variables";
@import "colors";
@import "typography";
@import "header";
@import "menu";
@import "single";
@import "cursor";

body{
    background-color: $white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    //overflow:hidden;
    @include playfair-display;
}


main{
    margin-top: 128px;
    margin-bottom: 128px;
    display: grid;
    width: 100%;
}