@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Playfair+Display:wght@400..900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

h1 {
  font-size: 6rem;
  color: black;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  color: black;
  font-weight: 500;
}
h2.--heading {
  font-size: 6rem;
}

h3 {
  font-size: 6rem;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
}

li {
  font-size: 4rem;
  font-weight: 500;
  color: #F8F9F3;
  text-transform: uppercase;
  text-align: center;
  width: fit-content;
  cursor: pointer;
  opacity: 1;
}
li:hover {
  color: #FE0000;
}

a {
  text-decoration: none;
  color: inherit;
}
a :visited {
  color: inherit;
}

span {
  font-size: 1.25rem;
}
span.--heading {
  font-weight: 500;
}

input {
  font-size: 1rem;
  font-weight: 400;
}

:root {
  --logo-width: 30%;
  --exit-width: 128px;
}
@media (max-width: 1200px) {
  :root {
    --logo-width: 50%;
  }
}
@media (max-width: 768px) {
  :root {
    --exit-width: 92px;
  }
}

.anim-wrapper {
  width: var(--logo-width);
  aspect-ratio: 1/1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.anim-wrapper.exit {
  left: 32px;
  top: 32px;
  transform: translate(0, 0);
}
@media (max-width: 1200px) {
  .anim-wrapper {
    --width: 50%;
    transform: translate(-48%, -50%);
  }
}

.anim__item {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.anim__item img {
  width: 100%;
}
.anim .autobus {
  width: 100%;
  top: 85%;
  left: -8%;
  rotate: 2deg;
}
.anim .samolot {
  width: 90%;
  top: 18%;
  left: 90%;
  rotate: 35deg;
}
.anim .logo {
  aspect-ratio: 1/1;
  width: 100%;
  background-color: #F8F9F3;
  position: relative;
  --rotate: 12deg;
  --x: -50%;
}
.anim .logo::before {
  content: "";
  display: block;
  width: 15%;
  height: 25%;
  position: absolute;
  bottom: 12%;
  right: 5%;
  background-color: #F8F9F3;
  z-index: -1;
}
.anim .logo::after {
  content: "";
  display: block;
  width: 18.2%;
  aspect-ratio: 10/21;
  position: absolute;
  top: 55%;
  left: 92%;
  rotate: var(--rotate);
  z-index: -2;
  background-image: url("../images/szpieg.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(var(--x));
}
.anim .logo img {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
}

.header {
  height: auto;
  padding: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  overflow: hidden;
  top: 0;
}
.header .logo {
  aspect-ratio: 1/1;
  width: var(--exit-width);
  position: relative;
  --rotate: 12deg;
  --x: -50%;
}
.header .logo::before {
  content: "";
  display: block;
  width: 15%;
  height: 25%;
  position: absolute;
  bottom: 12%;
  right: 5%;
  background-color: #F8F9F3;
  z-index: -1;
}
.header .logo::after {
  content: "";
  display: block;
  width: 18.2%;
  aspect-ratio: 10/21;
  position: absolute;
  top: 55%;
  left: 92%;
  rotate: var(--rotate);
  z-index: -2;
  background-image: url("../images/szpieg.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(var(--x));
}
.header .logo:hover {
  cursor: pointer;
  --x: 0;
  --rotate: 0deg;
}
.header .logo::after {
  transition: transform 0.5s cubic-bezier(0.47, 0, 0.23, 1.38), rotate 0.5s cubic-bezier(0.47, 0, 0.23, 1.38);
}
.header .logo img {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
}

.menu {
  font-size: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
  display: flex;
  background-image: url("../images/menu-bg-sm.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .menu {
    background-image: url("../images/menu-bg-md.png");
  }
}
@media (min-width: 1280px) {
  .menu {
    background-image: url("../images/menu-bg-lg.png");
  }
}
.menu.active {
  opacity: 1;
  pointer-events: all;
}
.menu.inactive {
  opacity: 0;
  pointer-events: none;
}
.menu .hidden {
  display: none;
}
.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__list.categories .menu__item {
  position: relative;
  z-index: 1;
}
.menu__list.categories .menu__item:hover {
  z-index: 100;
  color: #FE0000;
}

.cursor {
  width: 2rem;
  aspect-ratio: 1;
  position: fixed;
  z-index: 90;
  pointer-events: none;
  background: none;
  border: 1px solid #FE0000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, background 0.3s ease, opacity 0.3s ease;
  will-change: width, height, background, opacity;
  top: 0 !important;
  left: 0 !important;
  transform-origin: center;
}
.cursor__image {
  position: absolute;
  left: 50%;
  top: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: none;
  background-position: center;
  width: 0;
  height: 18rem;
  filter: brightness(2);
  z-index: 92;
  transform: skewX(0) skew(0);
  will-change: skewX, skew, filter, width, background-image;
}
.cursor__arrow {
  z-index: 91;
}

.cursor--click:hover, .cursor--img:hover {
  cursor: pointer;
}

body:has(.cursor--click:hover) .cursor {
  width: 3rem;
}

body:has(.cursor--img:hover) .cursor {
  width: 3rem;
}

body {
  background-color: #F8F9F3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
